* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "varela round";
}

body {
    background-color: #CECECE;
}
header {
  height: 110px;
  background-color: #292F36;
  color: #F7F7F7;
}

.links {
  position: relative;
  top: 55px;
  margin-right: 50px;
  color: #A8A7A7;
}

.link1 {
  margin-left: 10px;
}

.icon {
  height: 20px;
  position: relative;
  top: 5px;
  right: 5px;
}

.logo {
  position: relative;
  top: 5px;
  font-size: 50px;
  text-align: right;
  font-family: "questrial";
  /*right: 10px*/
}

.username {
    text-align: right;
    margin-bottom: 0px;
    color: #A8A7A7;
    margin-right: 10px;
}


header p {
  display: inline-block;
}

.video {
  display: none;
}

.shares {
  margin: 50px 0px 50px 10px;;
  font-size: 40px;
  color: #4B4B4B;
}

hr {
  position: relative;
  bottom: 53px;
  border: 1px solid #4B4B4B;
  width: 90%;
  margin-left: 10px;
}
.card {
  width: 300px;
  height: 400px;
  display: inline-block;
  margin: 10px 5px;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 5px  #7F7F7F
}

.card-header {
  background-color: #4ECDC4;
  height: 133px;
  padding: 10px;
  background-image: url(images/guy.jpg);
  background-position: 50% 40%;
}

.card-content {
  padding: 10px;
}

textarea {
  resize: none;
  outline: none;
  border: 2px solid #E2E2E2;
}

.content {
    margin-bottom: 13px;
}
input {
  width: 279px;
  height: 75px;
  margin: 5px  0px;
}

.views, .view-count {
  text-align: right;
  color: #4B4B4B;
}

.view-count {
  font-size: 30px;
}

@media (max-width: 624px) {

  .card {
    width: 95%;
    margin: 20px auto;
    display: block;
  }

  /*.container {
    margin: 0 auto;
    width: 300px;
  }*/
}

@media (max-width: 500px) {

  .p-video {
    display: none;
  }

  .video {
    display: inline;
  }
}

@media (max-width: 400px) {

  .logo {
    /*text-align: center;*/
    position: absolute;
    bottom: 50px;
  }

  .username {
    position: relative;
    top: 5px
  }


.icon {
  display: none;
}

  .logo {
    top: -2px;
    left: 5px;
  }

  .video {
    display: inline;
  }

  .header {
    height: 150px;
  }

  .nav {
    text-align: center;
    display: flex;
  }

  .links {
    margin: 0px;
    flex:auto;
  }

}
